<html>
<body>
<div id="error" align="center">
<h2>IMPORT ERROR PAGE</h2>
<p></p>
<h2><%=@mssg%></h2>
<p></p>

<%= link_to 'Back to Import Page ?', imports_path, :confirm => 'Are you sure?'%>
<p></p>
<%= link_to 'Home', menu_path %>

</div>

</body>
</html>
