
<h1>Welcome to to the NRDPFC.  Now that you're registered, a project owner needs to give you permission to work on their project.  Until that happens, you'll be redirected to this page.  
Please contact him or her directly if they do not get this done soon.</h1>

				<tr><td><%= link_to "Logout", :controller => "/account", :action => "logout" %></td></tr>
