<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @title || ENV["RAILS_SITE"]  + " " + params[:controller].to_s.titleize%></title>

<%= stylesheet_link_tag "basic" %>

  <%# bundle do %>
    <%= javascript_include_tag :defaults, "control.modal.js" %>
	<%= stylesheet_link_tag "basic" %>
	<%= active_scaffold_includes %>
    <%= record_select_includes %>
    <%= javascript_include_tag "prototype" %>
    <%= calendar_date_select_includes params[:style]%>

<body>

	  	<% if current_user %>
    	    <%= render :partial => 'layouts/logged_in_info' %>
				<%if current_project %>
					<p> Current Project: <%= current_project.to_label %>		  
				<%end%>
				</br> Project Owner: <%=current_project.owner.to_label%>
				<%if current_user.is_admin? %>
					</br> (Administrator) 
				<%else%>
					<% if current_user.data_entry_only? %>
					  	<div style="color:red; float:left">
							</br> DATA ENTRY ONLY
						</div>
					<%end%>
				<%end%>
		<%end%>



</body>
</html>
