<% content_for :header do %>
  <%= render :partial => '/common/header' %>
<% end %>
<% content_for :footer do %>
  <%= render :partial => '/common/footer' %>
<% end %>
<%= render "layouts/master.rhtml" %>